core.*
!stats/json/core.c
*.o
*.d
*.orig
trinity
logs/
trinity*.log
tmp
trinity-*.tar.xz
victims
tags
tags.json
config.h
version.h
.*.swp
cscope.*
ncscope.*
cov-int
trinity-coverity.tar.xz
stats-timeseries-*.jsonl
